.main {
  position: absolute;
  text-align: center;
  height: 100%;

  .submission,
  .failure {
    display: none;
  }
}

.form {
  display: flex;
  height: 15%;
}
.form.link {
  display: block;
  text-align: center;
}
.question {
  text-align: center;
}

.inputContri {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 100%;
  font-weight: 300;
  width: 100%;
}

@media only screen and (min-width: 636px) {
  .invalid {
    color: red;
  }
  .inputContri {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 100%;
    font-weight: 100;
  }
}
