.main {
  position: absolute;
  text-align: center;
  height: 100%;

  // imageBox
  .poster {
    display: none;
  }
  .poster.clip {
    margin: auto;
  }
  .poster.film.answer,
  .poster.char.answer {
    width: 0;
    opacity: 0;
    transition: opacity 2s;
  }

  //Quote
  .quote {
    max-width: 90%;
    margin: auto;
    text-align: center;
    font-size: 125%;
  }

  //QuestionBox
  .question {
    color: #000;
    font-weight: 300;
    font-size: 150%;
  }
  .question.red {
    color: red;
  }
  .question.green {
    color: green;
  }

  .titleInput {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 150%;
    font-weight: 200;
    width: 100%;
  }

  //ResultBox
  .result {
    display: none;
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  // Answer Box
  .answerOutput {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 100%;
    font-weight: 300;
    overflow-x: scroll;
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  .main {
    width: 60%;
    height: 100%;
    left: 20%;

    // Quote
    .quote {
      font-size: 150%;
    }

    // Result Box
    .result {
      width: 40px;
      height: 40px;
    }

    .questionBox {
      width: 80%;
      margin: auto;
    }

    .question {
      font-size: 125%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .main {
    width: 60%;
    height: 100%;
    left: 20%;

    .questionBox {
      width: 60%;
      margin: auto;
    }
  }
}
