.main {
  max-width: 860px;
  margin: auto;
  height: 100%;
}

.poster {
  display: none;
}

.poster.clip {
  margin: auto;
}

.quote {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.result {
  display: none;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.question {
  color: #000;
  font-weight: 300;
}

.titleInput,
.answerOutput,
.inputContri {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 50%;
  font-weight: 100;
}

.answerOutput {
  width: 150px;
}

@media only screen and (max-width: 636px) {
  .quote {
    font-size: 100%;
  }

  .poster.film.answer,
  .poster.char.answer {
    width: 0;
    opacity: 0;
    transition: opacity 2s;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .stationaryBottom {
    position: absolute;
    top: 40%;
  }

  .result {
    width: 40px;
    height: 40px;
  }

  .question {
    padding-right: 5px;
    color: #000;
    font-weight: 150;
    font-size: 150%;
  }
  .question.red {
    color: red;
  }
  .question.green {
    color: green;
  }

  .titleInput,
  .answerOutput,
  .inputContri {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 100%;
    font-weight: 300;
    width: 100%;
  }

  .answerOutput {
    font-size: 100%;
    font-weight: 300;
    overflow-x: scroll;
  }
}
