@import 'mixins';


// *************************
// *** Colors
// *************************
$c1: #28a745;
$c2: #007bff;
$c3: #FF0000;

$colors: (
  1: $c1,
  2: $c2,
  3: $c3,
  white: #ffffff,
  black: #000000,
);

// Bootstrap colors and background colors
@each $i, $color in $colors{
  .color-#{$i}{ color: #{$color} }
  .bg-#{$i}{ background-color: #{$color} }
  .bc-#{$i}{ border: 2px solid #{$color} }
}

// *************************
// *** Centering Mixin
// *************************
.center-h{
  @include center(horizontal)
}

.center-v{
  @include center(vertical)
}

.center-both{
  @include center(both)
}

// ********************************
// *** General
// ********************************

* {
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
input {
  background-color: transparent;
}
button {
  width: 10rem;
  font-size: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
}

.main-container{
  height: 80vh;
  display: flex;
  flex-direction: column;
}


// ********************************
// *** Homepage
// ********************************

.page {
  position: absolute;
  text-align: center;
  width: 100%;
}

.welcome {
  top: 45%;
  margin-top: -100px;
}
.title {
  max-width: 90%;
  margin: auto;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
}

.courier{
  font-family: 'Courier New', Courier, monospace;
}

// ********************************
// *** Play
// ********************************

// Images
.image-container{
  height: 33%;
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asset-container{
  height: 100%;
  max-width: 70%;

  & * {
    height: 100%;
    max-width: 100%;
    border: 1px solid #FF0000;
  }
}

.left-arrow, .right-arrow{

  width: 25px;
  height: 25px;
  border: 6px solid;
  border-color: black transparent transparent black;
  transform: rotate(-45deg);
}

.right-arrow{
  transform: rotate(135deg);
}

// Quote
.quote-container{
  // margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
}

.quote {
  font-size: 20px;
  line-height: 1.25;
  width: 80%;
}

// Questions
.question-container{
  width: 90%;
  margin: auto;
  // margin-top: 0;
  // justify-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.question-title{
  font-size: 20px;
  margin-bottom: 0;
  color: red;
}

.question-option{
  width: 80%;
  // margin: auto;
  margin-top: 8px;
  // border-radius: 15px;
  // padding: 5px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}



// prevents any duplicates
@import-normalize; /* bring in normalize.css styles */
