* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.page {
  height: 100px;
  position: absolute;

  text-align: center;
  width: 100%;
}

input {
  background-color: transparent;
}

.welcome {
  top: 45%;
  margin-top: -100px;
}
.game {
  top: 10%;
  height: 90%;
}

.contribute {
  top: 10%;
}

link {
  margin: 0;
  padding: 0;
  border-style: double;
}

.title {
  font-size: 250%;
  color: #000;
  font-weight: 100;
}

button {
  width: 10rem;
  border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
}

button#home {
  width: 15%;
  position: absolute;
  top: 2%;
  left: 43%;
}

@media only screen and (max-width: 636px) {
  .game {
    top: 7%;
  }
  .contribute {
    top: 10%;
  }
  button#home {
    width: 30%;
    height: 5%;
    padding: 0;
    position: absolute;
    top: 2%;
    left: 35%;
  }
}
