.a .title{
    border-bottom: 1px solid #000;
}

.trash{
  height: 30px;
  width: 30px;
}


.tr{
 border: 4px solid green !important;
}

.editModal{
  background-color: #fff;
  display: none;
  position: fixed;
  top: 5%;
  left: 12%;
  text-align: center;
  width:75%;
  z-index: 10;
  padding: 1rem;
  border-radius: 50px;
}

.modalBody{
  height: 100vh;

}

.background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 5;
  /* width: 100%; */
  height: 100vh;
}


.title.admin{
  font-size: 150%;
}
