@media only screen and (max-width: 636px) {
  .btnbox {
    position: absolute;
    bottom: 10%;
    width: 50%;
    left: 25%;
  }
  .btn.helper {
    width: 48%;
    height: 25%;
    padding: 0;
  }
  .btn.control {
    width: 90%;
    height: 10%;
    padding: 0;
  }
}

@media only screen and (min-width: 637px) {
  .forms {
    position: absolute;
    width: 70%;
    height: 30%;
    padding-bottom: 5px;
    top: 5%;
    left: 15%;
  }
  .btnbox {
    position: absolute;
    display: flex;
    bottom: 10%;
    width: 50%;
    left: 25%;
  }
}
